[package]
name = "ormlite-cli"
version = "0.17.3"
edition = "2021"
description = "An ORM for people who love SQL. Use the `ormlite` crate, not this one."
authors = ["Kurt Wolf <kurtwolfbuilds@gmail.com>"]
license = "MIT"
repository = "https://github.com/kurtbuilds/ormlite"

[[bin]]
name = "ormlite"
path = "src/main.rs"

[features]
#mysql = ["sqlx/mysql"]
#sqlite = ["sqlx/sqlite"]
#postgres = ["sqlx/postgres"]
#runtime-tokio-rustls = ["sqlx/runtime-tokio-rustls"]
default = ["ormlite/postgres", "ormlite/uuid", "ormlite/time", "ormlite/json", "ormlite/chrono", "ormlite/runtime-tokio-rustls"]
experimental-sid = []

[dependencies]
anyhow = "1"
time = { version = "0.3", features = ["formatting"] }
clap = { version = "4", features = ["derive"] }
ormlite = { version = "0.17", path = "../ormlite" }
ormlite-core = { version = "0.17", path = "../core" }
ormlite-attr = { version = "0.17", path = "../attr" }
tokio = { version = "1", features = ["full"] }
sqlmo = { version = "0.16", features = ["tracing"] }
sqlmo_sqlx = "0.16"
syn = "2"
proc-macro2 = "1"
url = "2"
sha2 = "0.10"
regex = "1"
colored = "2"
tracing-subscriber = "0.3"
tracing = "0.1"

[dev-dependencies]
assert_matches = "1"
